h1 {
    color: red;
    background-color: black;
    text-align: center;
}
div{
    background: blue;
    text-align: center;
    margin-left: 30vw;
    margin-right: 30vw;
}
/* h2 {
    height: 30px;
    width: 350px;
    background-color: blue;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 225px;
    margin-left: 100px;
} */

.image1 {
    padding-left: 30vw;
    width: 30vw;
    float: right;
}
.image2 {
    padding-right: 30vw;
    width: 30vw;
    float: left;
}
p{
    font: bold;
    text-align: center;
    font-size: 18;
}
